* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(174, 220, 250);
    margin: 0 auto;
    width: 500px;
}

h1 {
    color: rgb(230, 232, 237);
    margin: .5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 2px 2px #FF0000;
}

label {
    width: 10em;
    padding-bottom: .5em;
    color: #FF0000;
    font-weight: 700;
    font-size: 16px;
    margin: 0 0 20px;
}

input {
    color: rgb(9, 7, 107);
    margin-left: 1em;
    margin-bottom: .5em;
    border-radius: 5px;
    border: 2px solid rgb(69, 5, 187);
    box-shadow: 1px 1px black;
    height: 30px;
}

#calculate:hover {
    color: #993213;
    border-bottom: 1px solid #993213;
}

#calculate {
    background-color: rgb(202, 202, 25);
    border: solid;
    border-radius: 5px;
    color: white;
    padding: 5px 32px;
    margin: 4px 2px;
    cursor: pointer;
}


.container {
    position: absolute;
    min-width: 580px;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 45%;
    background-color: rgb(111, 159, 204);
    padding: 50px 10px;
    border-radius: 5px;
    display: grid;
    justify-items: center;
}